.postsperpage {
  display: grid;
  width: 60%;
  min-width: 500px;
  max-width: 1200px;
  margin: 0px auto 20px auto; /* Arriba | Derecha | Abajo | Izquierda */
  grid-template-columns: 100% 0%;
  grid-template-rows: 100%;
}

.postsperpage select {
  justify-self: flex-end;
  margin: 5px;
  color: darkgray;
  background-color: white;
  border: 0;
  border-radius: 15px;
}

.pagination {
  grid-column: 0;
  display: flex;
  justify-content: center;
}

.pagination input {
  font-family: arial;
  text-align: center;
  width: 2em;
  flex-grow: 0;
  border: 0;
  outline: 0;
  color: rgb(79, 79, 79);
  background-color: white;
  margin: 5px;
  border-radius: 15px;
}
